#page-data.hidden{:data => {:key => @key}}
.row{:style => "overflow-y: auto;"}
  .col-xs-1
  .col-xs-10
    .panel.panel-default
      .panel-body.text-center
        .row
          .btn-toolbar-sm
            - @calendars.each_key do |g|
              .btn-group.btn-group-sm.cal-group{:data => {'cal-group' => g}}
                %button.btn.btn-primary.cal-group-button= g
                - @calendars[g].each do |k, c|
                  %button.btn.btn-default.cal-button{:type => 'button', 
                    :autocomplete => 'off', 
                    :data => {:toggle => 'button', 
                      :key => k,
                      :cal => c}}= c['text']
            .btn-group.pull-right
              %button#export-button.btn.btn-primary.btn-sm{'data-container' => 'body', 
                'data-toggle' => 'popover', 
                'data-placement' => 'bottom'}
                Exporter
                %span.caret
      .panel-body
        .row
          #calendar
#export-menu-contents.hidden
  %p
    Lorem ipsum blablabla...
