#page-data.hidden{:data => {:key => @key}}
.row{:style => "overflow-y: auto;"}
  .col-xs-1
  .col-xs-10
    .panel.panel-default
      .panel-body.text-center
        .row
          .btn-toolbar-sm
            - @groups.each do |group, members|
              .btn-group.btn-group-sm.cal-group{:data => {'cal-group' => group}}
                %button.btn.btn-primary.cal-group-button= group
                - members.each do |cal|
                  %button.btn.btn-default.cal-button{:type => 'button', 
                    :autocomplete => 'off', 
                    :data => {:toggle => 'button', 
                      :key => cal,
                      :group => group,
                      :cal => @calendars[cal],
                      :default => @default_cals.include?(cal) }}= @calendars[cal]['text']
            .btn-group.pull-right
              %button#export-button.btn.btn-primary.btn-sm{'data-container' => 'body', 
                'data-toggle' => 'popover', 
                'data-placement' => 'bottom'}
                Exporter
                %span.caret
      .panel-body
        .row
          #calendar
#export-menu-contents.hidden
  %dl
    - @groups.each do |group, members|
      %dt{:data => {:group => group}}= group
      %dd
        %table
          - members.each do |cal|
            %tr.cal-export-item{:data => {:key => cal}}
              %td.text= @calendars[cal]['text']
              %td.links
                = link_to "html", @calendars[cal]['public']['html'], {class: 'btn btn-xs btn-default', target: '_blank'}
                = link_to "ical", @calendars[cal]['public']['ical'], {class: 'btn btn-xs btn-default'}
