.login-container
  .row
    .col-md-6.col-xs-10.col-xs-offset-1.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Mot de passe oublié
        .panel-body
          = bootstrap_form_tag(url: send_reset_instructions_path) do |f|
            = f.text_field :user, {label: "Nom d'utilisateur ou adresse email", autofocus: true, required: true}
            .actions
              = f.submit "Envoyer la demande"
          .text-center
            = link_to "Revenir à l'accueil", root_path