.login-container
  .row
    .col-md-6.col-xs-10.col-xs-offset-1.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Choix d'un nouveau mot de passe
        .panel-body
          = bootstrap_form_tag(url: '/users/modify_password?token=' + params[:reset_password_token]) do |f|
            = f.password_field :password, {label: "Nouveau mot de passe", autofocus: true, required: true}
            = f.password_field :confirmation, {label: "Confirmation du nouveau mot de passe", autofocus: true, required: true}
            .actions
              = f.submit "Modifier le mot de passe"