.jumbotron
  %h2 Bienvenue sur l'intranet de l'ENSIIE Strasbourg.

  %p
    L'intranet est en version alpha pour l'instant, énormément de fonctionnalités sont manquantes. Ces fonctionnalitées se rajouteront dans les prochains jours.

  %p
    Si vous trouvez un bug sur l'intranet ou sur l'un des services ARES n'hésitez pas à le signaler sur
    = link_to "le bugtracker.", "https://bugtracker.ares-ensiie.eu"

  %p
    Si vous souhaitez participer au développement de l'intranet n'hésitez pas à consulter les sources
    = link_to "ici.", "https://git.ares-ensiie.eu/ares/Intranet"
    De plus si vous voulez participer aux services Ares (code, design, documentation) n'hésitez pas à harceler Gabriel ou Jonathan (ou envoyez un mail à ares@ares-ensiie.eu).
