$(document).ready(function() {

  let calendar = $('#calendar');

  calendar.fullCalendar({
      minTime:'08:00:00', // debut du calendrier à 8h du matin
      height:'auto', // hauteur automatique donc pas de scrollbar dans le calendrier
      firstDay:1, //premier jour de la semaine => Lundi
      defaultView:'agendaWeek', // par défaut on affiche un agenda semaine
      timezone: 'Europe/Paris', // on utilise le fuseau horraire de paris
      header:{ // Mise en forme de l entete
          left:'prevYear,prev,next,nextYear,today', // à gauche: les boutons de navigation
          center:'title', // au milieu: le titre
          right:'month,agendaWeek,agendaDay' // à droite: les boutons de type de vue
      },
      googleCalendarApiKey: $('#page-data').data('key')  // clé de l'API google calendar
  });

  //--- Barre d'outils de sélection des calendriers

  $('.cal-button').click(function() {
      if (!$(this).hasClass('active')) {
          calendar.fullCalendar(
              'addEventSource',
              { googleCalendarId: $(this).data('calId'), 
                color: $(this).data('calColor') }
          );
      } else {
          calendar.fullCalendar('removeEventSource', $(this).data('calId'));
      }
  });

  $('.cal-group-button').click(function () {
    // on désactive tous les calendriers et on active ceux dans le groupe du bouton cliqué
    $('.cal-button.active').click();
    $(this).siblings('.cal-button').click();
  });

  $('.cal-button[data-cal-default]').click();

  //--- Menu exporter

  $('#export-button').popover({
      'title': "Exporter les calendriers",
      'html': true, 
      'content': '<div id="export-menu">' + $('#export-menu-contents').html() + '</div>'
  });

  $('#export-button').click( function() {
    $('#export-menu dt, #export-menu .cal-export-item').hide();
    $('.cal-button.active').each(function(idx, element) {
      var group = $('#export-menu dt[data-group='+$(this).data('group')+']');
      group.show();
      $('.cal-export-item[data-key='+$(this).data('key')+']', group.next()).show();
    })
  })
});
