// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#export-menu {
    dl {
        margin: 0px;
    }
    
    table {
        width: 100%;
        .cal-export-item {
            .links {
                text-align: right; 
            }
        }
    }
}
